<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Defend against repositoryPath being set somewhere else in the
         environment. The Bond build targets assume that packages is a
         subdirectory of this directory. -->
    <add key="repositoryPath" value="packages" />
  </config>
</configuration>
