[submodule "thirdparty/grpc"]
    path = thirdparty/grpc
    url = https://github.com/grpc/grpc.git

[submodule "thirdparty/rapidjson"]
    path = thirdparty/rapidjson
    url = https://github.com/miloyip/rapidjson.git

[submodule "thirdparty/protobuf"]
    path = thirdparty/protobuf
    url = https://github.com/google/protobuf.git
